.teoria{
    background-color: brown;
}
.p{
    background-color: aqua;
}
.lists{
    background-color: blueviolet;
}
.caja{
    background-color: red;
    width: 50px;
    height: 50px;
}

.ej{
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}

.cajita2{
    width: 100px;
    height: 100px;
    background-color: red;

}

.body{
    background-color: black;
    color: white;
}

.fondo-index{
    background-image: url(../MULTIMEDIA/transparent-vivid-autumn-leaves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.t1{
    color: red;
}
.t2{
    color: blue;
}
.t3{
    color: aqua;
}
.t4{
    color: blueviolet;
}
.t{
    background-color: blue;
    width: 70px;
    height: 40px;
    text-decoration-line: none  ;
}
.t5{
    color: rgb(221, 14, 48);
}

.a{
    text-decoration: none;
    color: white;
}
.fondo2{
    background-image: url(../MULTIMEDIA/dino-not-found-rainbow-4k-wallpaper.png );
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 400px;
    border: 2px solid black;
}

h1{
    text-decoration: underline;
    text-align: center;
}

ul>li>ul>li{
    display: none;
}

ul li:hover>ul li{
    display: block;
}

h6:hover{
    color: red;
}
.footer{
    margin-top: 50%;
    color: white;
    background-color: black;
    width: 400px;
    height: 30px;
}
.div{
    background-color: rgb(0, 0, 0);
    color: white;
}

.fondo3{
    background-image: url(../MULTIMEDIA/fondo-monocromatico-blanco-estilo-papel_52683-66443.avif);
    background-repeat: no-repeat;
    background-size: cover;
}